{% extends 'base.html.twig' %}

{% block title %}Hello FrontendController!{% endblock %}

{% set lang = app.request.locale  %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ 'hello' | trans }} ✅</h1>

    <h2>{{ 'current_lang' | trans }} : {{ lang }}</h2>

    <p><a href="{{ path('frontend') }}">{{ 'create.shoes' | trans }}</a></p>
 
<a  href="{{ path( app.request.get('_route'), app.request.get('_route_params') | merge({'_locale': 'en'})) }}">English</a> 
 - <a href="{{ path( app.request.get('_route'), app.request.get('_route_params') | merge({'_locale': 'fr'})) }}">Français</a>

     <ul>
     {% for product in products %}

     {% set productTrans = product.translate(lang) %}

        <li>
        {{ productTrans.name }} <br>&gt;&gt; <em>{{ productTrans.description }}</em><br>
        {{ product.user }} - {{ product.createdAt | date('Y-m-d H:i:s') }} - 
        <hr>
        
        </li>
     {% endfor %}
</ul>
</div>
{% endblock %}
